        /*
The CSS code gets to executed from top to bottom and left to right
*/
        /* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

        * {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
            box-sizing: border-box;
            /*reset Chrome user agent styles*/
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-before: 0px;
            -webkit-padding-after: 0px;
            -webkit-padding-start: 0px;
            -webkit-padding-end: 0px;
        }
        /* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

        body {
            background-color: #f2efed;
            font-family: 'Vollkorn', serif;
        }

        h1 {
            font-family: 'Ubuntu';
            color: #5d6b68;
        }

        h2 {
            font-size: 1.5rem;
            color: #444f6b;
            font-weight: 400;
            margin-top: 1.5rem;
            margin-left: 16%;
            margin-right: 16%;
            background-color: #e8d9d0;
            padding: .5rem;
        }

        .wrapper {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            margin-top: 2rem;
            font-size: 1.2rem;
            color: #665c55;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        img,
        iframe {
            height: auto;
            width: 33%;
        }

        ul,
        h3,
        li {
            list-style-type: none;
            display: inline;
        }

        li {
            padding: 1rem;
        }
        /* Header styles
(all the styles inside the < header > or < nav > tags)
*/

        #pagetitle {
            font-size: 4rem;
            font-weight: 500;
            text-align: center;
            padding: 4rem 2rem 2rem 2rem;
        }

        #line {
            border: 4px solid #eb928d;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        /* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

        .navigation {
            display: block;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 3rem;
        }

        .tab {
            cursor: pointer;
            display: inline;
            margin-left: 5%;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: center;
            color: #514944;
            background-color: #f2efed;
        }

        .tab:hover {
            background-color: #edf1f2;
            border: 1px solid #c0cfcf;
            border-radius: 3px;
        }

        .content {
            display: none;
        }

        .current {
            display: inherit;
            /*inherit wont work*/
        }

        li.current {
            background: #edf1f2;
            border: 1px solid #c0cfcf;
            border-radius: 3px;
        }

        .learn-nav {
            float: left;
            clear: left;
            margin-top: 4rem;
            font-size: 1.5rem;
            color: #444f6b;
        }

        .sidecontent {
            display: none;
        }

        .sidecurrent {
            display: inherit;
        }

        #video-tab {
            padding: .5rem 1rem .5rem 1rem;
            background-color: #f5d8cc;
        }

        #book-tab {
            margin-top: .5rem;
            padding: .5rem 1rem .5rem 1rem;
            background-color: #f5d8cc;
        }

        #book-tab:hover,
        #video-tab:hover {
            background-color: #d4beb4;
        }

        .tutorials,
        .cameras,
        .accessories,
        .ideas {
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            /*display: inline-block;
            vertical-align: top;*/
        }

        .materials {
            padding: 0rem 1rem 1rem 1rem;
            margin-left: auto;
            margin-right: auto;
        }

        .camera-stream {}

        div.stream {
            /*Need to make this response!!!*/
            width: 33%;
            height: 28rem;
            vertical-align: top;
            display: inline-block;
            padding: 1rem;
        }

        img.stream-image {
            width: 100%;
            padding: .5rem;
            border: 3px solid #e8d9d0;
            border-radius: 5px;
        }

        img.stream-image:hover {
            padding: 0;
        }

        .stream-caption {
            padding: 0rem 1rem 1rem 1rem;
            margin: 0;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        #filter {
            display: block;
            margin-top: 2rem;
            text-align: center;
        }
        /* Footer styles
(all the styles inside the < footer > tag)
*/
        /* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
