        /*
The CSS code gets to executed from top to bottom and left to right
*/
        /* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

        * {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
            box-sizing: border-box;
            /*reset Chrome user agent styles*/
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-before: 0px;
            -webkit-padding-after: 0px;
            -webkit-padding-start: 0px;
            -webkit-padding-end: 0px;
        }
        /* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

        body {
            background-color: #f2efed;
            font-family: 'Vollkorn', serif;
        }

        h1 {
            font-family: 'Ubuntu';
            color: #5d6b68;
        }

        .wrapper {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            margin-top: 2rem;
            text-align: center;
            font-size: 1.2rem;
            color: #665c55;
        }

        img,
        iframe {
            height: auto;
            width: 33%;
        }
        /* Header styles
(all the styles inside the < header > or < nav > tags)
*/

        #pagetitle {
            font-size: 4rem;
            font-weight: 500;
            text-align: center;
            padding: 4rem 2rem 2rem 2rem;
        }

        #line {
            border: 4px solid #eb928d;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        /* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

        .navigation {
            display: block;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 3rem;
        }

        .tab {
            display: inline-block;
            width: 33%;
            font-weight: 400;
            font-size: 1.5rem;
            padding: 1rem;
            text-align: center;
            color: #514944;
            background-color: #f2efed;
            border: none;
        }

        .learn-nav,
        h2,
        h3,
        ul {
            float: left;
            clear: left;
        }

        .learn-nav {
            margin-top: 4rem;
            font-size: 1.5rem;
            color: #444f6b;
        }

        #video-tab {
            padding: 1rem 0rem .5rem 0rem;
        }

        #book-tab {
            padding: 1rem 0rem .5rem 0rem;
        }

        .tutorials,
        .cameras,
        .accessories {
            margin-top: 4rem;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }

        .materials {
            padding: 1rem;
            margin-left: auto;
            margin-right: auto;
        }
        /* Footer styles
(all the styles inside the < footer > tag)
*/
        /* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
